table {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}

.mat-cell {
    text-align: center;
}

.mat-header-cell {
    text-align: center;
}

.header-image {
    background-size: cover;
}

.header-image-template {
    background-color: #dfdfdf;
}
