.send-task {
  margin-top: 15px;
}

.mat-dialog-content {
  min-height: 200px;
}

.example-chip-list {
  width: 100%;
  max-width: 1200px;
}

.header-image {
  background-size: cover;
}

.header-image-template {
  margin-top: (6/16)*1rem;
  margin-right: 1rem;
  background-color: #dfdfdf;
}

.dialog-title-flex-container {
  display: flex;
  flex-direction: row;
}
