<h2 mat-dialog-title>
  {{ task?.subjectName }} | {{ task?.author?.firstName }} {{ task?.author?.lastName }}
  <br>
  <h4>{{ task?.createdAt }}</h4>
</h2>
<mat-dialog-content class="mat-typography">
  <h2>{{ task?.title }}</h2>
  <p> {{ task?.description }} </p>
  <h2 *ngIf="mediaUrl">Корисна інформація:</h2>
  <mat-chip-list aria-label="Fish selection">
    <!-- <mat-chip *ngFor="let url of task?.urls"><a href="{{ url?.url }}">{{ url?.url }}</a></mat-chip> --> <!--TODO change!-->
  </mat-chip-list>
  <hr>

  <mat-form-field class="example-chip-list" *ngIf="showAddTasks">
    <mat-label>Посилання</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let link of links" [selectable]="selectable" [removable]="removable"
        (removed)="remove(link)">
        {{ link.url | shortUrl}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Посилання" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="addTasks()">Прикріпити завдання</button>
  <button mat-button [mat-dialog-close]="true">Надіслати завдання</button>
</mat-dialog-actions>
