<div class="grid-section container">
    <nav class="sort-nav">
        <div class="sort-nav-buttons">
            <span>Показати:</span>
            <mat-chip-list aria-label="Fish selection">
                <mat-chip 
                    *ngFor="let option of sortOptions" 
                    selected="{{option.selected}}" 
                    disabled="{{option.disabled}}">
                    {{option.name}}
                </mat-chip>
            </mat-chip-list>
        </div>
        <div class="sort-nav-button-create">
            <button mat-raised-button color="warn">+ Створити</button>
        </div>
    </nav>
    <app-shared-post *ngFor="let post of posts$ | async" [post]="post"></app-shared-post>
</div>
