
.breadcrumb-area{
    background-color: #EFFAFF;
    // background-color: var(--blue-100);
    // border-bottom: 1px solid rgba(#000, 0.1);
}

:host ::ng-deep .p-breadcrumb {
    background: none;
    border: none;
    border-radius: 0;
}