.header {
  background-color: #D0F3FF;
  // background-color: var(--blue-200);
  border-bottom: 1px solid rgba(#000, 0.03);
  height: 76px;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}




/* logo */

.logo-link {
  display: flex;
}

.logo-svg {
  position: relative;
  top: (1/16)*1rem;
  height: 2rem;
  width: auto;
}

.logo-link :hover.logo-svg {
  top: (2/16)*1rem;
}

.logo-link :active.logo-svg {
  top: (4/16)*1rem;
}




/* header-essentials */

.header-essentials {
  display: flex;
  align-items: center;
  user-select: none;
}

.header-essentials :hover {
  cursor: pointer;
}

.account-avatar-icon {
  font-size: 2.5rem;
}

.logout-icon {
  font-size: 2rem;
  margin-left: 1.125rem;
}
