<mat-toolbar class="page-grid-container header">

  <div class="grid-section header-container">

    <a class="logo-link" href="">
      <img class="logo-svg" src="/assets/images/logo.svg" alt="Логотип">
    </a>

    <div class="header-essentials">
      <mat-icon
        class="account-avatar-icon"
        matTooltipClass="mat-tooltip-n-new-line"
        matTooltip="{{userDataForTooltip()}}"> account_circle </mat-icon>

      <mat-icon class="logout-icon" (click)="logOut()"> logout </mat-icon>
    </div>

  </div>

</mat-toolbar>
