.ambient-bg {
  background-color: #fffde7; /*--yellow-50*/
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  align-content: end;
}

.ambient-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.ambient-img {
  height: 70vh;
}

.cat-img {
  transform: translate(-50%, 0);
}

.houseplant-img {
  transform: translate(50%, 0);
}
