<div class="grid-section post-form-container">

    <!-- description area -->
    <div class="description-area">
        Створити публікації для аудиторії фізика-216
    </div>

    <!-- main fields -->
    <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="block" appearance="outline">
            <mat-label>Тема завдання</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>

        <mat-form-field class="block" appearance="outline">
            <mat-label>Опис завдання</mat-label>
            <textarea matInput class="input-value" formControlName="content"></textarea>
        </mat-form-field>

        <!-- urls -->
        <mat-form-field class="block" formArrayName="urls" appearance="outline" *ngFor="let link of urls.controls; let i=index">

            <button mat-icon-button matPrefix (click)="remUrls(i)">
                <mat-icon>clear</mat-icon>
            </button>

            <input matInput type="text" [formControlName]="i" (blur)="linkOnBlur(i)">

            <mat-label>https://...</mat-label>

        </mat-form-field>
        

        <!-- buttons -->
        <div class="buttons-area">

            <button mat-stroked-button color="primary" type="button" (click)="addUrls()">
                <mat-icon>add_link</mat-icon> Додати посилання
            </button>

            <button mat-stroked-button type="button" routerLink="..">
                <mat-icon>delete_sweep</mat-icon> Скасувати
            </button>

            <button mat-raised-button color="accent" type="submit">
                <mat-icon>send</mat-icon> Опублікувати
            </button>

        </div>

    </form>

</div>
