.block {
  display: block;
}

.title {
  margin-top: var(--space-2);
}

.input-value {
  height: 16em;
}

.buttons-area {
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-items: start;
  column-gap: 2em;
}
