<div class="container">
  <nav class="nav-buttons">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip>Завдання</mat-chip>
      <mat-chip>Повідомлення</mat-chip>
    </mat-chip-list>
  </nav>
  <form class="example-form" [formGroup]="createPostForm">
    <mat-form-field class="example-full-width">
      <mat-label>Тема завдання</mat-label>
      <input matInput formControlName="title" class="input-title">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Опис завдання</mat-label>
      <textarea formControlName="value" matInput class="input-value"></textarea>
    </mat-form-field>
  </form>
  <div class="send-post">
    <button (click)="onSubmit()" class="send-button" mat-raised-button>Опублікувати</button>
  </div>
  <div class="container-file-button" (click)="openAddFilesInput()">
    <button mat-mini-fab class="add-file">+</button>
    <h3>Додати файл</h3>
  </div>
  <h1 *ngIf="isFile">There will be file</h1>
  <br>
  <div class="to-plan-container" (click)="openDatePicker()">
    <button mat-mini-fab class="to-plan">?</button>
    <h3>Запланувати публікацію</h3>
  </div>
  <div class="date-picker" *ngIf="isDate">
    <h1>There will be date picker</h1>
  </div>
</div>
