.post-form-container {
  margin-top: 2em;
}

.description-area {
  margin-bottom: 2em;
  background-color: #f5f5f5;
  border-radius: 1em;
  border: 1px solid #e0e0e0;
  padding: 1em;
}

.block {
  display: block;
}

.input-value {
  height: 16em;
}

.buttons-area {
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-items: start;
  column-gap: 2em;
}
