<div class="grid-section post-form-container">

    <!-- description area -->
    <div class="description-area">
        Створити публікації для аудиторії фізика-216
    </div>

    <!-- main fields -->
    <form [formGroup]="createPostForm">
        
        <mat-form-field appearance="outline" class="block">
            <mat-label>Тема завдання</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline" class="block">
            <mat-label>Опис завдання</mat-label>
            <textarea formControlName="value" matInput class="input-value"></textarea>
        </mat-form-field>

    </form>

    <!-- links -->
    <mat-form-field appearance="outline" *ngFor="let link of links" class="block">
        <button mat-icon-button matPrefix (click)="remove(link)"><mat-icon>clear</mat-icon></button>
        <mat-label >https://..</mat-label>
        <input matInput type="text" value="{{link.url}}">
    </mat-form-field>

    <!-- buttons -->
    <div class="buttons-area">

        <button color="primary" mat-stroked-button (click)="addTmp()">
            <mat-icon>add_link</mat-icon> Додати посилання
        </button>

        <button mat-stroked-button>
            <mat-icon>delete_sweep</mat-icon> Скасувати
        </button>

        <button color="accent" (click)="mylog()" (change)="mylog()" mat-raised-button>
            <mat-icon>send</mat-icon> Опублікувати
        </button>

    </div>

</div>
