.breadcrumbs {
  background-color: #e6ffff;
  border: none;
  border-bottom: 1px solid rgba(#000, 0.1);
  border-radius: 0;
  height: 4rem;
  margin-bottom: 2rem;
}

.breadcrumbs-container {
  display: flex;
  align-items: center;
}
