<div class="page-grid-container">
    <div class="grid-section">
            <div class="grid-container">
                <div class="logo">
                    <img src="/assets/images/logo.svg" alt="Логотип">
                </div>
                <div class="text-1">
                    <p class="logo-text-1"><span class="welcome-word">Вітаю!</span> Приєднуйся до системи <br>
                        дистанційного навчання!</p>
                </div>
                <div class="text-2">
                    <p class="logo-text-2">
                        Збирай аудиторії, <br>
                        публікуй завдання і <br>
                        відстежуй їх виконання.
                    </p>
                </div>
            <div class="form-bg"></div>
            <div class="form-title">
                    <h1>Увійти в систему</h1>
                </div>
                <div class="form">
                    <app-auth-form></app-auth-form>
                </div>
            </div>
    </div>
</div>
