.card {
    max-width: 1200px;
    background: #fffbfb;
    margin: 0 auto;
}

.card:hover {
    cursor: pointer;
}

.header-image {
    background-size: cover;
  }

.mat-chip a {
    text-decoration: none;
    color: black;
}

.container {
    padding: 10px 10px 15px;
}
