<mat-progress-spinner class="spinner" [mode]="'indeterminate'" [value]="50" *ngIf="loadingStatus$ | async">
</mat-progress-spinner>

<div class="example-card">
  <mat-card *ngFor="let post of posts$ | async">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Група</mat-card-title>
      <mat-card-subtitle>Дата</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h1> {{ post.title }} </h1>
      <p> {{ post.value }} </p>
    </mat-card-content>
  </mat-card>
</div>
