.example-container {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.icon-eye {
    border: none;
    background-color: inherit;
    outline: none;
}

.icon-eye:hover {
    cursor: pointer;
}

.login-button {
    background: #FFBB12;
    font-family: 'Roboto', sans-serif;
}
